body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f5f9;
}


#header {
  background: #7c7cf2;
  color: white;
  padding: 20px;
  text-align: center;
}


#container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}


.admin-card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
  text-align: center;
}


.admin-card h2 {
  margin-bottom: 25px;
  color: #1e293b;
}


.admin-btn {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: #6366f1;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.admin-btn:hover {
  background: #4f46e5;
}
